<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='pictures/favicon.ico') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
            color: black;
            background-color: #fcd900;
        }

            .nav-pills > li.active > a:hover {
                background-color: #efcb00;
                color: black;
            }
    </style>
</head>

<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <!-- Common menu -->
            <ul class="nav nav-pills navbar-dark" style="
                color: #343a40 !important;
                ">
                <li class="nav-item ">
                    <img src="/static/pictures/Eimpreza.png" style="height:40px; width:auto;">
                </li>
                <li class="nav-item ">
                    <a class="nav-link active bg-dark" href="/">Eimpreza</a></a>
                </li>
                <li class="nav-item dropdown bg-dark">
                    <a class="nav-link dropdown-toggle bg-dark " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #ffffff ">Wydarzenia</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " href="{{ url_for('wydarzenia') }}">Aktualne</a><br />
                        <a class="dropdown-item " href="{{ url_for('wydarzeniaHistoryczne') }}">Historyczna</a><br />

                    </div>
                </li>
                {%if session['user_name']%}  <!-- Logged user menu -->
                <li class="nav-item">
                    <a class="nav-link active bg-dark" href="{{ url_for('profile') }}">Profil {{session['user_name']}}</a>
                </li>
                <li class="nav-item dropdown bg-dark">
                    <a class="nav-link dropdown-toggle bg-dark " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #ffffff ">Komunikator</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " href="{{ url_for('communicator') }}">Wyslij wiadomosc</a><br />
                        <a class="dropdown-item " href="{{ url_for('inbox') }}">Skrzynka odbiorcza</a><br />

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-dark" href="{{ url_for('notification') }}">Powiadomienia</a>
                </li>

                {%if session['user_type'] == 0 %} <!-- User only menu-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #ffffff ">Moje wydarzenia</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('my_events') }}">Biore udzial</a><br />
                        <a class="dropdown-item" href="{{ url_for('my_events_historic') }}">Historyczne</a>
                    </div>
                </li>
                {%elif session['user_type'] == 1 %} <!-- Org only menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #ffffff ">Moje wydarzenia</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('my_events_organise') }}">Organizuje</a><br />
                        <a class="dropdown-item" href="{{ url_for('my_events') }}">Biore udzial</a><br />
                        <a class="dropdown-item" href="{{ url_for('my_events_historic') }}">Historyczne</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-dark" href="{{ url_for('dodaj_wydarzenie') }}">Dodaj wydarzenie</a>
                </li>
                {%elif session['user_type'] == 3 %} <!-- SUPERUSER -->
                <li class="nav-item">
                    <a class="nav-link active bg-dark" href="{{ url_for('admintools') }}">-</a>
                    }"
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active bg-dark" href="{{ url_for('logout') }}">Wyloguj</a>
                </li>
                <!--<li><a text="{{session['user_point']}}">{{session['user_point']}}</a></li> punkty uzytkownika-->
                {% else %}
                <!-- Unlogged  menu -->
                <li class="nav-item">
                    <a class="nav-link active bg-dark" href="{{ url_for('login') }}">Zaloguj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-dark" href="{{ url_for('register') }}">Zarejestruj sie</a>
                </li>
                {% endif %}

            </ul>


        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - E - imprez@</p>
        </footer>
    </div>
</body>
</html>
